
.barra1{
    background-color: #b895fa;
    width: 1260px;
    height: 50px;
    text-align:center;
}
.barra2{
    background-color: #ee1d5c;
    width: 550px;
    height: 50px;
    text-align:center;
}
.barra3{
    background-color: #9394f8;
    width: 550px;
    height: 50px;
    text-align:center;
}
